<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="nav-bar"></div>
  <div id="app">
    <div class="product">
      <div class="product-image">
        <img v-bind:src="image.url" v-bind:alt="image.alts">
      </div>
      <div class="product-info">
        
        <h1> {{ product }}</h1>
        <span v-if="onSale">On Sale</span>
        <p v-show="inStock" >In stock</p>
        <!-- <p v-if="inventory > 10" >In stock</p>
        <p v-else-if="inventory < 10 && inventory > 1" >Almost out of stock</p>
        <p v-else>Out of stock</p> -->
        <ul>
          <li v-for="detail in details"> {{ detail }}</li>
        </ul>
        <div v-for="variant in variants" :key="variant.variantId">
          <p> {{ variant.variantColor }}</p>
        </div>
        <ul>
          <li v-for="size in sizes" :key="size"> {{ size }} </li>
        </ul>

        <p> {{ description }} </p><br>
        <a :href="links.url">
          {{ links.text }}
        </a>

      </div>

    </div>
  </div>

  <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./main.js"></script>
</body>
</html>